@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;

}

::-webkit-scrollbar{
    display: none;
}

@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
           
    }
    
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  